<li>
	{{name}}

	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}That was good!{{else}}Let's have another!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Make some room!</button>
</li>
